.stories {
    display: flex;
    align-items: center;
    height: 118px;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    padding: 0 18px;
    overflow: hidden;
    position: relative;
  }

  @media (max-width: 614px) {
    .stories {
      background-color: transparent;
      border: none;
      width: 100%;
    }
  }